rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /lives/{liveId} {
      allow read: true;
      allow write: false;

      match /results/{resultId} {
        allow read: true;
        allow create: if request.resource.data.keys().hasAll([
          'typingWord', 'createdAt', 'expireAt'
        ]);
        allow update, delete: if false;

        match /users/{userId} {
          allow read: true;
          allow create: if request.resource.data.keys().hasAll([
            'userId', 'result', 'expireAt'
          ]);
          allow update, delete: if false;
        }
      }
    }
  }
}
